* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

@font-face {
    font-family: 'bukhari';
    src: url('../typefaces/bukhariscript.ttf');
}

@keyframes bobbing {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-0.6rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

/* Header Styling */ 

header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 20.5% 0.75rem 20.5%;
    margin-bottom: 4.5rem;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

.header-left {
    display: flex;
    justify-content: flex-start;
}

#logo {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
    cursor: pointer;
    color: white;
}

#logo:hover {
    transform: scale(1.08);
}

#headline-recent:hover {
    transform: scale(1.05);
}

#logo:hover {
    background: linear-gradient(to right, #fa4d32, #ffb31d, #3bbf9c, #007f80, #00182f);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 90% 90%;
}

#logo:active,
#headline-recent:active {
    transform: scale(0.975);
}

.header-right {
    display: flex;
    justify-content: flex-end;
    gap: 1.875rem;
    align-items: center;
}

.header-right a {
    text-decoration: none;
    color: black;
}

#sources,
#contact {
    color: white;
    transition: 0.4s;
}

#sources:hover,
#contact:hover {
    transform: scale(1.125);
    text-decoration: underline;
    text-decoration-style: double;
}

#sources:hover {
    text-decoration-color: #e595ff;
}

#contact:hover {
    text-decoration-color: #5dd547;
}

.header-right img {
    border-radius: 0.4rem;
    height: 2.2rem;
    width: auto;
    margin-top: 0.365rem;
    transition: 0.3s;
    box-shadow:
    0 0 2px 1px #363636,  
    0 0 3px 2px #2c2c2c, 
    0 0 5px 4px #282828; 
}

.header-right a:active {
    transform: scale(0.85);
}

#sources:active,
#contact:active {
    transform: scale(0.85);
}


.tinder {
    margin-right: 0.65rem;
}

.header-right img:hover {
    transform: scale(1.175);
}

/* 'Main' Styling */

main {
    margin: 0rem 20.5% 2rem 20.5%;
    display: flex;
    justify-content: space-between;
}

.main-left {
    display: flex;
    flex-direction: column;
    max-width: 42.5%;
}

#name {
    font-family: 'bukhari';
    font-size: 3.6rem;
    text-shadow: 0.365rem 0.15rem 0px #fa4d32, 
                 0.685rem 0.295rem 0px #ffb31d, 
                 1rem 0.4395rem 0px #3bbf9c, 
                 1.35rem 0.585rem 0px #007f80, 
                 1.715rem 0.7385rem 0px #00182f, 
                 2.15rem 0.895rem 0.675rem grey;
    animation: bobbing 4s ease-in-out infinite;

}

#position {
    margin-bottom: 2.5rem;
    margin-left: 3.65rem;
    margin-top: -0.3125rem;
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.4rem;
}

.debug {
    display: flex;
    justify-content: flex-start;
}

#aboutme {
    margin-bottom: 1.5rem;
}

#fullstack {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 1000;
}

.headline {
    display: flex;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.55rem;
    align-self: flex-start;
    padding: 0 7px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #fce041 50%
    );
}

.headline:before,
.headline:after {
    padding: 0;
    margin: 0;
}

.text {
    font-family: 'Varela Round', sans-serif;
    font-size: 0.915rem;
}

.main-bottom {
    display: flex;
    flex-direction: column;
}

#headline-progress {
    margin-top: 1.75rem;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #5df2f6 50%
    );
}

#headline-myinterests {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #ff8772 50%
    );
}

#headline-stack {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #e595ff 50%
    );
}

.progress {
    display: flex;
    margin-top: 1.15rem;
    gap: 0.4rem;
}

.progress-icons {
    max-width: 3rem;
    height: auto;
    transition: 0.5s;
}

.progress-icons:hover {
    transform: scale(1.15);
}

.main-right {
    display: flex;
    flex-direction: column;
    max-width: 23rem;
}

.portrait {
    height: auto;
    border-radius: 3rem;
}

.recent-container {
    display: flex;
    justify-content: flex-start;
}

#headline-recent {
    padding-top: 1.2rem;
    cursor: pointer;
    padding-left: 1.25rem;
    background: linear-gradient(
        to bottom,
        transparent 70%,
        #5addbe 30%
    );
}

#arrow {
    margin: 1.5rem 0 0 0.65rem;
    height: 1.375rem;
    cursor: pointer;
    transition: 0.1s
}

#arrow:active {
    transform: scale(1.085);
}

#main-right-bottom {
    padding-left: 1.25rem;
    visibility: visible;
}

.h5-recent {
    font-family: 'Poppins', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.35rem;
    font-size: 1rem;
}

/* Footer Styling */

footer {
    margin-top: -0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom {
    margin-top: 1.215rem;
    display: flex;
    gap: 1.815rem;
}

.software {
    max-width: 3rem;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.4s;
}

.software:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}






